.menu {
    padding-top: 20px;
    .app-name {
      color: white;
      font-size: 30px;
    }
  
    .nav {
      .nav-item {
        .nav-link {
          color: white;
          font-size: 14px;
        }
      }
    }
  }