.home-container {
  padding: 10px 0 150px 0px;
  .text-wrapper {
    padding: 116px 16px;
    .header {
      color: white;
      margin-bottom: 30px;
      font-size: 42px;
    }

    .text {
      color: #dde1e7;
      font-size: 14px;
      line-height: 24px;
    }
  }

  .search {
    margin-top: 30px;
    .title {
      color: white;
      font-size: 36px;
      text-align: center;
      margin-bottom: 50px;
    }
    .input-group {
      width: 500px;
      border-radius: 100%;
      .form-control {
        border-radius: 50px;
        height: 50px;
        border: none;
        padding-left: 30px;
        font-size: 14px;
      }
    }

    .input-group-append {
      background-color: transparent;
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 1000;
      border: none;
      .btn-search {
        height: 50px;
        width: 100px;
        border-radius: 50px;
        background-color: transparent;
        background: linear-gradient(to right, #25b4f3 0%, #256cf3 100%);
        color: white;
        border: none;
        -webkit-box-shadow: 0px 0px 5px 1px rgba(82, 82, 82, 1);
        -moz-box-shadow: 0px 0px 5px 1px rgba(82, 82, 82, 1);
        box-shadow: 0px 0px 5px 1px rgba(82, 82, 82, 1);
        font-weight: 600;
        font-size: 13px;
      }
    }
  }
}

@media (max-width: 576px) {
  .home-container {
    .search {
      .input-group {
        width: 300px;
      }
    }
  }
}
