.navbar {
  &.bg-blue {
    background-color: #2a81f3;
    background: linear-gradient(to right, #2a95f3 0%, #2a58f3 100%);
    border-bottom: #2580f3;

    .company-name {
      color: #f1f7ff;
      font-size: 11px;
    }
    .navbar-brand {
      color: #f1f7ff;
      font-size: 11px;
      &:hover {
        color: white;
      }

      .divider {
        height: 100%;
        width: 1px;
        background-color: white;
        margin: 0 15px;
        border-radius: 5px;
      }
    }
  }
}


