.success-message {
  background-color: #00b8f4;
  color: white;
  margin-top: 30px;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  .title {
    font-size: 14px;
  }

  .message {
    text-align: start;
  }
}

.error-message {
  background-color: #ff0000;
  color: white;
  margin-top: 30px;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  .title {
    font-size: 14px;
  }
}
